[user]
	name = Martin Pallmann
  signingkey = F39BA9524054E275
[core]
	excludesfile = /Users/mpallmann/.gitignore_global
[commit]
	gpgsign = true
[includeIf "gitdir:~/Projects/"]
	path = ~/Projects/.gitconfig
[includeIf "gitdir:~/Z/"]
	path = ~/Z/.gitconfig
