[user]
	name = Martin Pallmann
  signingkey = B6F91DF970AC4F57
[core]
	excludesfile = /Users/mpallmann/.gitignore_global
[commit]
	gpgsign = true
[includeIf "gitdir:~/Projects/"]
	path = ~/Projects/.gitconfig
[includeIf "gitdir:~/Z/"]
	path = ~/Z/.gitconfig
